.first{
    background: #ade4b0;
    &__circle {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: #0c1777;
        margin-top: 10px;
    }
}
.container {
    // height: 500px;
    width: 80%;
    margin: 0 auto;
}