
.container {
    width: 70%;
    margin: 0 auto;
}

.header {
    &__menu {
        height: 70px;
        background: #d5f75c;
    }
    &__title {
        font-family: 'Ruslan Display', cursive;
        font-size: 3em;
        text-align: center;
    }
   
}
.english {
    &__section{
        border: 1px solid #000;
        border-radius: 5px;
        padding: 10px;
    }
    
    &__text {
        display: block;
        margin-top: 1%;
        font-size: 1.2em;

    }
}