.container {
    width: 70%;
    margin: 0 auto;
}

.header {
    &__menu {
        height: 70px;
        background: #d5f75c;
    }
    &__title {
        font-family: 'Ruslan Display', cursive;
        font-size: 3em;
        text-align: center;
    }
   
}
.english {
    border: 2px solid #000;
    border-radius: 5px;
    &__text {
        margin-top: 1%;
        
    }
}